@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: rgb(82, 199, 255);
    background: linear-gradient(321deg, rgba(82, 199, 255, 1) 0%, rgba(56, 171, 226, 0.46262254901960786) 96%);
    color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container {
    background-color: #eee;
    border-radius: 15px;
    box-shadow: 1px 12px 53px 4px rgba(43, 43, 43, 0.83);
    -webkit-box-shadow: 1px 12px 53px 4px rgba(43, 43, 43, 0.83);
    -moz-box-shadow: 1px 12px 53px 4px rgba(43, 43, 43, 0.83);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
    }

.img-container {
    position: relative;
    width: 110px;
}

/* .img-container::after {
    content: '';
    background-color: #eee;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);

} */

.img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: #eee;
    border: 0;
    color: #909090;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: #5e5e5e;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: #e5e5e5;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px 10px 10px 150px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform .3s ease-in, opacity .3s ease-in;
}

.music-info h4 {
    margin: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #62cbfd;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}